.pageHeader {
    text-align: center;
    padding: 20px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.list>.shop {
    width: 33%;
  }
  
.list>.shop {
    justify-content: center;
  }
  
.list>.shop:nth-child(odd) {
    justify-content: space-between;
    }

